 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #232323;
    list-style: none;
    text-decoration: none; 
    font-family: 'CabinetGrotesk-Black';
}

body {
    background-color: #fbf8fb;
         
}


.top1{
  margin-top: 4vW;
  padding: 0vw calc(5px + 3vw);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size:11.44vw;
  line-height: 15vw;
}

.top{
  padding: 0vw calc(5px + 3vw);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  font-size:calc(7px + 1vw);
}




.name {
  font-size:2vw;
}

.rounded{
  padding: 10px 15px;
  border-radius: 50px;
  margin: 1px 1px;
  background-color: #fbf8fb;
  color: #232323 ;
  border: 2px solid #232323;
}



.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*gap:1vw;*/
  width: 94vw;
  background-color: #fbf8fb;
}



.image-gallery > li {
  list-style-type: none; 
  flex-basis: 21vw;
  height: 15vw;
  margin: 1vw;

}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 15px;

}

.image-gallery::after {
  content: "";
  flex-basis: 22vw;
}

.image-gallery > li {
  /* ... */
  position: relative;
  cursor: pointer;
  border-radius: 15px;
  
}


.overlay {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #23232384;
  
  top: 0;
  left: 0;
  opacity: 0;
  /* center overlay text */
  transition: all 250ms ease-in-out;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  
}

/* hover */
.image-gallery li:hover .overlay {
  opacity: 1;
}

span{
  color:#fbf8fb;
  padding: 1vw;
  max-width: 100%;
  font-size: 3vw;
}

.scrollup{
  font-size:30px;
}

.text2{
  padding: 1vw;
  width: 18vw;
  font-size: 18vw;
  text-align: justify;
}

.marge{
    margin: 10vh 2vw;
    padding: 10vh 0vh 0vh 0vh;
  }

  * {
    box-sizing: border-box;
  }

  @media screen and (max-width: 1200px) {
    .image-gallery > li {
      flex-basis: 42vw;
      height: 31vw;
    }
    span{
      padding: 2vw;
      font-size: 6vw;
    }
  }

  @media screen and (max-width: 600px) {
    .image-gallery > li {
      flex-basis: 85vw;
      height: 63vw;
    }
    span{
      padding: 4vw;
      font-size: 12vw;
    }
  }


  
  .text2 {

    width: calc(160px + 32vw);
    text-align: center;
    font-size: calc(13px + 0.5vw);
    margin-bottom: 2vw;
  }

  .video2 {
    width: calc(160px + 32vw);
    height: calc(120px + 24vw);
  
  }

  iframe {
    display: block;
    border-style:none;
}


    /* Portrait */
  @media screen and (orientation:portrait) {
    .game{
      width: 70vW;
      height: 120vW;
      
      }
    
  }
  /* Landscape */
  @media screen and (orientation:landscape) {
    .game{
      width: 45vH;
      height: 80vH;
      }
    
  }




  .gallery2 {
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    max-width: 96VW;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5VW;
    padding: 0 14px;
  }
  .gallery2::after {
    content:'';
    display:block;
    flex-grow: 10;
  }
  .gallery2 li {
    list-style-type: none;
    height: 350px;
    flex-grow: 1;
  }
  .gallery2 img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery2:hover{
    cursor: zoom-in;
  }



  @media screen and (max-width: 1200px) {
    .flex-text {
      flex-basis: 100vW;
    }
    .flex-img {
      flex-basis: 100vW;
    }

  }
  
footer{
    margin-top: 2vH;
    height: calc(60px + 2vw);
    border-bottom: 2px solid #fbf8fb;
    border-top: 2px solid #232323;
    display: flex;
    align-items: center;
    padding: 2vW 2vw;
    justify-content: space-between;
    
    
  }

  .butt {
    width: 70px;
    height: 70px;
    font-size: 30px ;
    padding: 10px 19px;
    border-radius: 1000px;
    margin: 1px 1px;
    background-color: #fbf8fb;
    color: #232323 ;
    border: 2px solid #232323;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }

  .butt2{
    width: 70px;
    height: 70px;
    font-size: 30px ;
    position: fixed;
    top: 0;
    display: flex;
    padding: 10px 19px;
    border-radius: 1000px;
    margin: 1VW 1.5VW;
    background-color: #fbf8fb;
    color: #232323 ;
    border: 2px solid #232323;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }

  @media screen and (max-width: 600px) {
    .butt2{
      width: 55px;
      height: 55px;
      font-size: 20px ;

    }

  }
  
  
  ::-webkit-scrollbar{
      width: 30px;
      height: 30px;
    }
    
    ::-webkit-scrollbar-thumb{
      background-color: #fbf8fbF3;
      border: 3px solid #232323 ;
      border-radius: 60px;
    }
    
    .cursor{
      width: 30px;
      height: 30px;
    }
    
    ::-webkit-scrollbar-track{
      background-color: #232323;
    }
  
    html {
      scroll-behavior: smooth;
    }